{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.users_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.users_list'|trans }}</h1>
    <nav class="nav">
        <a href="{{ url('photos_index') }}" title="{{ 'action.photos_list'|trans }}" class="nav-link">
            {{ 'action.back_to_list'|trans }}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('users_create') }}" title="{{ 'action.users_create'|trans }}" class="nav-link">
                {{ 'action.users_create'|trans }}
            </a>
        {% endif %}
    </nav>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.nick'|trans, 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'user.nick') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.roles'|trans, 'user.roles') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for users in pagination.items %}
                <tr>
                    <td>{{ users.id }}</td>
                    <td>{{ users.nick }}</td>
                    <td>{{ users.email }}</td>
                    <td>{% for role in users.roles %} {{ role }} {% endfor %}</td>
                    <td>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('users_edit', {'id': users.id}) }}" title="{{ 'action.edit'|trans }}" class="btn btn-outline-primary">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('users_delete', {'id': users.id}) }}" title="{{ 'action.delete'|trans }}" class="btn btn-outline-danger">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

{% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}