{% extends 'base.html.twig' %}

{% block title %} {{ 'action.login'|trans }}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">
            {{ 'action.login'|trans }}
        </h1>
        <label for="inputEmail">
            {{ 'label.email'|trans }}
        </label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">
            {{ 'label.password'|trans }}
        </label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-primary mt-3" type="submit">
            {{ 'action.login'|trans }}
        </button>
        <button class="btn btn-secondary mt-3" type="button">
            <a href="{{ url('photos_index') }}" title="{{ 'action.back_to_list'|trans }}" class="nav-link">
                {{ 'action.back_to_list'|trans }}
            </a>
        </button>
    </form>
{% endblock %}