{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photos_details'|trans({'%id%': photos.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.photos_details'|trans({'%id%': photos.id|default('')}) }}</h1>
    {% if photos is defined and photos|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ photos.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  photos.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{  photos.author.nick }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ photos.description }}</dd>
            <dt>{{ 'label.photo_file'|trans }}</dt>
            <dd>{{ photos.photoFileName}}</dd>
            <dt>{{ 'label.upload_date'|trans }}</dt>
            <dd>{{ photos.uploadDate|format_datetime('long') }}</dd>
        </dl>

        {% if photos.photoFileName is defined and photos.photoFileName|length %}
            <img style="width:25%;object-fit:contain" class="nav-profile-img" src="{{ asset(photoFile_directory~photos.photoFileName) }}">
        {% endif %}

    <h3 class="mt-6">{{ 'title.comments_and_photos'|trans({'%id%': photos.id|default('')}) }}</h3>

    {% if comments is defined and comments.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(comments, 'label.user'|trans, 'comments.user') }}</th>

                {% if is_granted('ROLE_ADMIN') %}
                <th>{{ knp_pagination_sortable(comments, 'label.email'|trans, 'comments.email') }}</th>
                {% endif %}

                <th>{{ knp_pagination_sortable(comments, 'label.content'|trans, 'comments.content') }}</th>
                <th>{{ knp_pagination_sortable(comments, 'label.post_date'|trans, 'comments.createdAt') }}</th>

                {% if is_granted('ROLE_ADMIN') %}
                <th>{{ 'label.comment_delete'|trans }}</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for comment in comments.items %}
                <tr>
                    {% if comment.nick is defined %}
                        <td>{{ comment.nick }}</td>
                    {% else %} <td> null </td>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ comment.email }}</td>
                    {% endif %}

                    <td>{{ comment.content }}</td>
                    <td>{{ comment.postDate|format_datetime('long') }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('comments_delete', {'id': comment.id}) }}" title="{{ 'action.delete'|trans }}" class="btn btn-outline-danger">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(comments) }}
        </div>

        {% else %}
            <p>
                {{ 'message.comments_not_found'|trans }}
            </p>
        {% endif %}

        {# DODAJ KOMENTARZ #}
        <p>
            <a type="button" class="btn btn-primary"  href="{{ url('comments_create', {id: photos.id}) }}" title="{{ 'action.add_comment'|trans }}">
                {{ 'action.add_comment'|trans }}
            </a>
        </p>

        <p>
            <a href="{{ url('photos_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>

    {% endif %}
{% endblock %}